<h1>Hi, <%= @user.first_name %>!</h1>

<div class="user_details">
City: <%= @user.city %><br>
Age: <%= @user.age %><br>
Weight: <%= @user.weight %><br>
</div>

<%= link_to 'Logout', logout_path, method: :delete %>
<div class="user_timeline">

</div>
