<h1>Hi, <%= @user.first_name %>!</h1>

<div class="user_details">
  City: <%= @user.city %><br>
  Age: <%= @user.age %><br>
  Weight: <%= @user.weight %><br>
</div>

<%= link_to 'Logout', logout_path, method: :delete %><br>
<%= link_to 'Add an activity', new_entry_path %>

<div class="user_timeline">
  <% @user.activity_entries.each do |act| %>
    <br><hr><br>
    Activity: <%= act.name %><br>
    Calories Burned: <%= act.calories_burned %><br>
    Workout date: <%= act.created_at %><br>
  <% end  %>
</div>
